body {
    background-color: #404140;
    color: white;
}

nav {
    height: 100px;
}

.menu {

}

.menu .menu-element {

}

.bg-light {
    background-color: white;
}

.circle-border {
    border-radius: 1000px;
    width: 250px;
    height: 250px;
}

.circle-spsk {
    border-radius: 1000px;
    background-color: white;
    width: 310px;
    height: 310px;
}

.circle-border:hover img {
    transform-origin: top;
    animation: scale 200ms ease-in-out forwards;
}

@keyframes scale {
    to {
        transform: scale(1.1);
    }
}

.centa {
    display: flex;
    justify-content: center;
}

.col-md-3 {
    display: flex;
    justify-content: center;
}

.text-white {
    color: white;
    text-align: center;
}

.padding-top-nav {
    padding-top: 10px;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.photo_profession {
    width: 250px;
    height: 250px;
}

.z-index {
    z-index: -1;
    position: absolute;
    margin-top: 30px;
}

.ssss {
    width: 700px;
    height: 700px;
}



#news_head {
    color: #ffa100;
    text-align: center;
    font-size: 40px;
    margin-top: 70px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.head {
    margin-top: 100px;
    margin-bottom: 60px;
}

@media screen and (max-width: 1200px) {
    .z-index {
        visibility: hidden;
    }
}

@media screen and (min-width: 1201px) {
    .margin_top {
        margin-top: 160px;
    }
}

@media screen and (max-width: 1200px) {
    .margin_top_phones {
        margin-top: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .menu_text {
        display: none;
    }

    .w-60 {
        width: 100%;
        margin: auto;
    }
}

@media screen and (min-width: 1201px) {
    .hamburger_text {
        display: none;
    }

    .w-60 {
        width: 60%;
        margin: auto;
    }
}


.zdj {
    width: 100%;
}


.bg-white {
    background-color: white;
}

.footer_contatcs {
    margin-top: 10px;
}

.footer_content {
    color: #477dc0;
    font-family: 'Roboto', sans-serif;
}

.contact-list {
    margin: 0;
}

.contact-list li {
    position: relative;
    list-style-type: none;
    margin-bottom: 0.5rem;
}

.well {
    background: none;
    border: none;
    border-bottom: 3px solid white;
}

.container {
    overflow: hidden;
}

.carousel-indicators {
    margin-left: auto;
    margin-right: auto;
}



.text-black {
    color: black;
}

.head_info {
    margin-top: 60px;
    color: green;
    font-size: 3vw;
}

.flex_center {
    display: flex;
    justify-content: center;
}
